<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style/index.css">

    <link rel="stylesheet" href="/codemirror/theme/3024-day.css">
    <link rel="stylesheet" href="/codemirror/theme/3024-night.css">
    <link rel="stylesheet" href="/codemirror/theme/abbott.css">
    <link rel="stylesheet" href="/codemirror/theme/abcdef.css">
    <link rel="stylesheet" href="/codemirror/theme/ambiance-mobile.css">
    <link rel="stylesheet" href="/codemirror/theme/ambiance.css">
    <link rel="stylesheet" href="/codemirror/theme/ayu-dark.css">
    <link rel="stylesheet" href="/codemirror/theme/ayu-mirage.css">
    <link rel="stylesheet" href="/codemirror/theme/base16-dark.css">
    <link rel="stylesheet" href="/codemirror/theme/base16-light.css">
    <link rel="stylesheet" href="/codemirror/theme/bespin.css">
    <link rel="stylesheet" href="/codemirror/theme/blackboard.css">
    <link rel="stylesheet" href="/codemirror/theme/cobalt.css">
    <link rel="stylesheet" href="/codemirror/theme/colorforth.css">
    <link rel="stylesheet" href="/codemirror/theme/darcula.css">
    <link rel="stylesheet" href="/codemirror/theme/dracula.css">
    <link rel="stylesheet" href="/codemirror/theme/duotone-dark.css">
    <link rel="stylesheet" href="/codemirror/theme/duotone-light.css">
    <link rel="stylesheet" href="/codemirror/theme/eclipse.css">
    <link rel="stylesheet" href="/codemirror/theme/elegant.css">
    <link rel="stylesheet" href="/codemirror/theme/erlang-dark.css">
    <link rel="stylesheet" href="/codemirror/theme/gruvbox-dark.css">
    <link rel="stylesheet" href="/codemirror/theme/hopscotch.css">
    <link rel="stylesheet" href="/codemirror/theme/icecoder.css">
    <link rel="stylesheet" href="/codemirror/theme/idea.css">
    <link rel="stylesheet" href="/codemirror/theme/isotope.css">
    <link rel="stylesheet" href="/codemirror/theme/juejin.css">
    <link rel="stylesheet" href="/codemirror/theme/lesser-dark.css">
    <link rel="stylesheet" href="/codemirror/theme/liquibyte.css">
    <link rel="stylesheet" href="/codemirror/theme/lucario.css">
    <link rel="stylesheet" href="/codemirror/theme/material-darker.css">
    <link rel="stylesheet" href="/codemirror/theme/material-ocean.css">
    <link rel="stylesheet" href="/codemirror/theme/material-palenight.css">
    <link rel="stylesheet" href="/codemirror/theme/material.css">
    <link rel="stylesheet" href="/codemirror/theme/mbo.css">
    <link rel="stylesheet" href="/codemirror/theme/mdn-like.css">
    <link rel="stylesheet" href="/codemirror/theme/midnight.css">
    <link rel="stylesheet" href="/codemirror/theme/monokai.css">
    <link rel="stylesheet" href="/codemirror/theme/moxer.css">
    <link rel="stylesheet" href="/codemirror/theme/neat.css">
    <link rel="stylesheet" href="/codemirror/theme/neo.css">
    <link rel="stylesheet" href="/codemirror/theme/night.css">
    <link rel="stylesheet" href="/codemirror/theme/nord.css">
    <link rel="stylesheet" href="/codemirror/theme/oceanic-next.css">
    <link rel="stylesheet" href="/codemirror/theme/panda-syntax.css">
    <link rel="stylesheet" href="/codemirror/theme/paraiso-dark.css">
    <link rel="stylesheet" href="/codemirror/theme/paraiso-light.css">
    <link rel="stylesheet" href="/codemirror/theme/pastel-on-dark.css">
    <link rel="stylesheet" href="/codemirror/theme/railscasts.css">
    <link rel="stylesheet" href="/codemirror/theme/rubyblue.css">
    <link rel="stylesheet" href="/codemirror/theme/seti.css">
    <link rel="stylesheet" href="/codemirror/theme/shadowfox.css">
    <link rel="stylesheet" href="/codemirror/theme/solarized.css">
    <link rel="stylesheet" href="/codemirror/theme/ssms.css">
    <link rel="stylesheet" href="/codemirror/theme/the-matrix.css">
    <link rel="stylesheet" href="/codemirror/theme/tomorrow-night-bright.css">
    <link rel="stylesheet" href="/codemirror/theme/tomorrow-night-eighties.css">
    <link rel="stylesheet" href="/codemirror/theme/ttcn.css">
    <link rel="stylesheet" href="/codemirror/theme/twilight.css">
    <link rel="stylesheet" href="/codemirror/theme/vibrant-ink.css">
    <link rel="stylesheet" href="/codemirror/theme/xq-dark.css">
    <link rel="stylesheet" href="/codemirror/theme/xq-light.css">
    <link rel="stylesheet" href="/codemirror/theme/yeti.css">
    <link rel="stylesheet" href="/codemirror/theme/yonce.css">
    <link rel="stylesheet" href="/codemirror/theme/zenburn.css">

    <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/codemirror/theme/dracula.css">
    <link rel="stylesheet" href="/codemirror/theme/darcula.css">
    <link rel="stylesheet" href="/codemirror/theme/ayu-mirage.css">
    <link rel="stylesheet" href="/codemirror/addon/fold/foldgutter.css">
    <link rel="stylesheet" href="/codemirror/addon/hint/show-hint.css">
    <link rel="stylesheet" href="/codemirror/addon/lint/lint.css">
    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>
    <script src="/codemirror/mode/xml/xml.js"></script>
    <script src="/codemirror/mode/css/css.js"></script>
    <script src="/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/codemirror/addon/edit/closebrackets.js"></script>
    <script src="/codemirror/addon/edit/trailingspace.js"></script>
    <script src="/codemirror/addon/edit/closetag.js"></script>
    <script src="/codemirror/addon/edit/continuelist.js"></script>
    <script src="/codemirror/addon/display/placeholder.js"></script>
    <script src="/codemirror/addon/comment/continuecomment.js"></script>
    <script src="/codemirror/addon/comment/comment.js"></script>
    <script src="/codemirror/addon/fold/brace-fold.js"></script>
    <script src="/codemirror/addon/fold/comment-fold.js"></script>
    <script src="/codemirror/addon/fold/foldcode.js"></script>
    <script src="/codemirror/addon/fold/foldgutter.js"></script>
    <script src="/codemirror/addon/fold/indent-fold.js"></script>
    <script src="/codemirror/addon/hint/show-hint.js"></script>
    <script src="/codemirror/addon/hint/javascript-hint.js"></script>
    <script src="/codemirror/addon/hint/anyword-hint.js"></script>
    <script src="/codemirror/addon/hint/css-hint.js"></script>
    <script src="/codemirror/addon/hint/html-hint.js"></script>
    <script src="/codemirror/addon/hint/xml-hint.js"></script>
    <script src="/codemirror/addon/lint/lint.js"></script>
    <script src="/codemirror/addon/lint/javascript-lint.js"></script>
    <script src="/codemirror/addon/selection/active-line.js"></script>
    <link rel="stylesheet" href="/codemirror/addon/dialog/dialog.css">
    <link rel="stylesheet" href="/codemirror/addon/search/matchesonscrollbar.css">
    <script src="/codemirror/addon/dialog/dialog.js"></script>
    <script src="/codemirror/addon/search/searchcursor.js"></script>
    <script src="/codemirror/addon/search/search.js"></script>
    <script src="/codemirror/addon/scroll/annotatescrollbar.js"></script>
    <script src="/codemirror/addon/search/matchesonscrollbar.js"></script>
    <script src="/src/editor.js"></script>
    <link rel="stylesheet" href="/style/sync.css">

    <title>JoinCode - Together</title>
</head>
<body>
    <!-- Take Name Modal -->
    <div class="customer-modal" id="customer.modal" style="display: none;">
        <div class="customer-modal-content" style="min-height: 350px;">
            <h3>Choouse your account:</h3>
            <ul style="width: 100%; display: flex; align-items: center; flex-direction: column;" id="customer-list">
                <% customers.forEach(customer => { %>
                    <li class="customer-item" data-target="<%- customer.name %>"><%- customer.name %></li>
                <% }) %>
            </ul>
            <hr width="90%" size=".5" color="#ccc">
            <div style="display: flex; flex-direction: column;">
                <input placeholder="Password..." type="text" id="customer.field" maxlength="20">
                <small id="customer.tip"></small>
            </div>
            <div class="btn" id="customer.btn">Ready!</div>
        </div>
    </div>
    <!-- Local CodeMirror editor -->
    <div class="wrapper" id="wrapper">
        <div class="editor" id="my-editor">
            <span class="pause" id="pause-background" style="display: none;">
                <img src="/img/pause.png" width="90" height="90" >
                <label>PAUSED</label>
            </span>
            <span id="editor"></span>
        </div>
    </div>
    <!-- Bottom Information Bar -->
    <span id="bottom-bar">
        <!-- Left side buttons -->
        <span class="left">
            <!-- Language Information -->
            <span id="voice.btn">
                Voice Chat
            </span>
            <span id="language-info"><%- name %>'s Lesson</span>
        </span>
        <!-- Right side buttons -->
        <span class="right">
            <span id="ms-info">? ms</span>
            <span id="users-info">Only you there</span>
        </span>
    </span>

    <!-- Right Tools Bar -->
    <span class="right-bar" id="right-bar" data-open="0">
        <span id="build.btn">
            <img src="/img/build.png" title="Build Project" width="30" height="30" >
        </span>
        <span id="disconnect.btn">
            <img src="/img/broken-link.png" title="Disconnect" width="28" height="28">
        </span>
        <span id="pause.btn">
            <img src="/img/pause-play.png" title="Pause/Unpause me" width="28" height="28">
        </span>
        <span id="invite.btn">
            <img src="/img/invite.png" title="Invite" width="28" height="28">
        </span>
    </span>

    <span id="voice.left.float" class="voice-chat-left" style="display: none;">
        <ul class="voice-chat-items">
        </ul>
    </span>
    <span id="voice.right.float" class="voice-chat-right" style="display: none;">
        <ul class="voice-chat-items">
    
        </ul>
    </span>
    <span id="voice.bottom.float" class="voice-chat-bottom" style="display: none;">
        <ul class="voice-chat-items">
    
        </ul>
    </span>

    <span id="voice.float" draggable="false" class="voice-chat" style="display: none;">
        <ul class="voice-chat-items">
            
        </ul>
    </span>

    <span style="display: none;" id="voice.left.placeholder" class="voice-chat-left holder"></span>
    <span style="display: none;" id="voice.right.placeholder" class="voice-chat-right holder"></span>
    <span style="display: none;" id="voice.bottom.placeholder" class="voice-chat-bottom holder"></span>

    <div class="modal" id="confirm.modal" style="display: none;">
        <div class="modal-content" style="width: 250px; max-width: 250px; min-height: 200px;">
            <h3>Are you sure?</h3>
            <h5 style="color: #ccc;">If you will disconnect, you will left all your code!</h5>
            <div class="btn" id="confirm.btn">
                Yes, exit
            </div>
            <div id="confirm.cancel.btn" class="btn" style="background-color: orangered;">
                Cancel
            </div>
        </div>
    </div>

    <div class="modal" id="settings.modal" style="display: none;">
        <div class="modal-content" style="width: 250px; min-height: 230px; max-width: 250px;">
            <h3>Conference information:</h3>
            <label>Identifier: <strong id="identifier-info">358 458 746</strong></label>
            <label style="margin-left: -2px;">Access code: <strong id="code-info">354238</strong></label>
            <div class="btn" id="copy.btn">Copy invite!</div>
            <div class="btn" id="copy.link.btn">Copy invite link!</div>
        </div>
    </div>

    <!-- <script src="//ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jshint/2.13.1/jshint.min.js"></script>
    <script>

        const extension = 'html';

        const config = {
            js: {
                name: 'JavaScript',
                commentUnit: '/*'
            },
            html: {
                name: 'htmlmixed',
                commentUnit: '<!--'
            }
        }

        const changeLanguage = () => {
            if(!config[extension]) return;
            if(!config[extension].name) return;
            editor.setOption('mode', config[extension].name.toLowerCase());
            document.getElementById('language-info').innerText = config[extension].name;
        }


        const editor = new Editor(document.getElementById('editor'), config, extension, false, {
            theme: '<%- theme %>'
        })
        const remoteEditors = {}

    </script>

    <!-- Voice Chat -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const peers = []

        var hovering = null, voiceContext = document.getElementById('voice.float'), holders = {
            left: document.getElementById('voice.left.placeholder'),
            right: document.getElementById('voice.right.placeholder'),
            bottom: document.getElementById('voice.bottom.placeholder'),
        }, floats = {
            left: document.getElementById('voice.left.float'),
            right: document.getElementById('voice.right.float'),
            bottom: document.getElementById('voice.bottom.float'),
        }, side = null;

        function movement() {
            document.getElementById('voice.btn').onclick = function(e) {
                voiceContext.style.display = 'flex'
                Object.values(floats).forEach(float => float.style.display = 'none')
                e.target.style.display = 'none'
                voiceContext.style.left = '50px'
                voiceContext.style.top = '100px'
            }

            function handleMouseUp(e) {
                hovering = null

                if (!side) return;

                document.getElementById('voice.btn').style.display = 'flex'

                Object.values(holders).forEach(holder => holder.style.display = 'none')

                if (side === 'left') {
                    voiceContext.style.display = 'none'
                    floats.left.style.display = 'flex'
                } else if (side === 'right') {
                    voiceContext.style.display = 'none'
                    floats.right.style.display = 'flex'
                } else if (side === 'bottom') {
                    voiceContext.style.display = 'none'
                    floats.bottom.style.display = 'flex'
                }
            }

            function handleMouseDown(e) {
                const pos = voiceContext.getBoundingClientRect()
                var x = e.pageX, y = e.pageY;
                if(!x && !y) {
                    const touch = e.touches[0] || e.originalEvent.touches[0] || e.originalEvent.changedTouches[0];
                    x = touch.clientX || touch.pageX
                    y = touch.clientY || touch.pageY
                }
                hovering = [x - pos.x, y - pos.y]
            }

            function handleMouseMove(e) {
                if (hovering) {
                    var x = (e.pageX - hovering[0]), y = (e.pageY - hovering[1])
                    if (!x && !y) {
                        const touch = e.touches[0] || e.originalEvent.touches[0] || e.originalEvent.changedTouches[0];
                        x = (touch.clientX || touch.pageX) - hovering[0]
                        y = (touch.clientY || touch.pageY) - hovering[1]
                    }

                    voiceContext.style.left = x + 'px'
                    voiceContext.style.top = y + 'px'

                    Object.values(holders).forEach(holder => holder.style.display = 'none')

                    side = null

                    if (x <= 50) {
                        holders.left.style.display = 'flex'
                        side = 'left'
                    } else if (x >= document.body.clientWidth - 300) {
                        holders.right.style.display = 'flex'
                        side = 'right'
                    } else if (y >= document.body.clientHeight - 200) {
                        holders.bottom.style.display = 'flex'
                        side = 'bottom'
                    }
                }
            }

            voiceContext.onmousedown = handleMouseDown
            voiceContext.ondblclick = function() {
                voiceContext.style.display = 'none'
                document.getElementById('voice.btn').style.display = 'flex'
                hovering = null
                side = null
            }
            Object.values(floats).forEach(float => {
                float.ondblclick = function(e) {
                    float.style.display = 'none'
                    document.getElementById('voice.btn').style.display = 'flex'
                }
                hovering = null
                side = null
            })

            window.onmousemove = handleMouseMove
            
            window.ontouchmove = handleMouseMove
            voiceContext.ontouchstart = handleMouseDown
            voiceContext.ontouchend = handleMouseUp
            voiceContext.ontouchcancel = handleMouseUp
            voiceContext.onmouseup = handleMouseUp
            Object.values(holders).forEach(holder => {
                holder.onmouseup = handleMouseUp
                holder.ontouchend = handleMouseUp
                holder.ontouchcancel = handleMouseUp
            })
            document.getElementById('bottom-bar').onmouseup = handleMouseUp

            document.getElementById('bottom-bar').ontouchend = handleMouseUp

            document.getElementById('bottom-bar').ontouchcancel = handleMouseUp

            window.onmouseup = function() {
                hovering = null
            }
            window.ontouchend = function () {
                hovering = null
            }
            window.ontouchcancel = function () {
                hovering = null
            }
        }
    
        function setCurrentEditor(ID) {
            if(EDITOR_CONTAINERS[ID].style.display === 'block') return;
            Object.values(EDITOR_CONTAINERS).forEach(EDITOR => {
                EDITOR.style.overflow = 'hidden'
                EDITOR.style.maxWidth = '0px'
                EDITOR.style.maxHeight = '0px'
                EDITOR.style.minWidth = '0px'
                EDITOR.style.minHeight = '0px'
                EDITOR.style.width = '0px'
                EDITOR.style.height = '0px'
            })
            EDITOR_CONTAINERS[ID].style.overflow = 'auto'
            EDITOR_CONTAINERS[ID].style.maxWidth = '100%'
            EDITOR_CONTAINERS[ID].style.maxHeight = '100%'
            EDITOR_CONTAINERS[ID].style.minWidth = '50%'
            EDITOR_CONTAINERS[ID].style.minHeight = '100%'
            EDITOR_CONTAINERS[ID].style.width = '0px'
            EDITOR_CONTAINERS[ID].style.height = '0px'
        }

        function addPeer(name, id) {
            peers[id] = []
            const user_color = `rgb(${Math.round(Math.random() * 255) + 1}, ${Math.round(Math.random() * 255) + 1}, ${Math.round(Math.random() * 255) + 1})`
            document.body.querySelectorAll('.voice-chat-items').forEach(el => {
                const item = document.createElement('span')
                item.style.display = 'flex'
                item.style.flexWrap = 'wrap'
                item.style.alignItems = 'center'
                item.style.color = '#fefefe'
                item.style.fontFamily = '"Roboto", sans-serif'
                item.style.textAlign = 'center'
                item.style.fontWeight = 500;
                item.dataset.id = id

                if(id !== socket.id)
                    item.onclick = function(e) {
                        e.preventDefault()
                        if(!peers[id]) return false;
                        if(EDITOR_CONTAINERS[id]) {
                            setCurrentEditor(id)
                        }
                    }
                
                const uri = document.createElement('div')
                uri.textContent = name[0].toUpperCase()
                uri.style.width = '35px'
                uri.style.height = '35px'
                uri.style.borderRadius = '50%'
                uri.style.display = 'flex'
                uri.style.alignItems = 'center'
                uri.style.justifyContent = 'center'
                uri.style.background = user_color
                uri.style.fontSize = '17px'
                uri.style.fontWeight = 500
                uri.style.fontFamily = '"Roboto", sans-serif'
                
                item.appendChild(uri)
                const label = document.createElement('label')
                label.appendChild(document.createTextNode(name.length > 9 ? name.slice(0, 9) + '...' : name))
                item.appendChild(label)
                el.appendChild(item)
                peers[id].push({
                    item
                });
            })
        }
    </script>

    <script>
        var localDate = null
        function calculateMs(remoteDate) {
            document.getElementById('ms-info').textContent = '? ms'
            if(!localDate) return;

            const difference = remoteDate - localDate

            document.getElementById('ms-info').textContent = `${difference} ms`
            if(difference <= 500) document.getElementById('ms-info').style.color = 'lime'
            else if(difference <= 1000) document.getElementById('ms-info').style.color = 'orange'
            else document.getElementById('ms-info').style.color = 'crimson'
        }

        var amIOwner = false, paused = false, canShowEditingToast = true;
        var keyID = sessionStorage.getItem('keyID')
        var name = "member#" + Math.round(Math.random() * 100) + 1;
        var customers = JSON.parse

        var CONFERENCE_IDENTIFIER = ''
        var CONFERENCE_ACCESS_CODE = ''
        
        var toasts = []
        
        var EDITOR_CONTAINERS = {}

        function toast(type, content) {
            if(toasts.length > 0) {
                var intervalID = setInterval(() => {
                    if(toasts.length <= 0) {
                        clearInterval(intervalID)
                        toast(type, content)
                    }
                }, 200);
                return intervalID;
            }
            const toastBody = document.createElement('div')
            toastBody.style.position = 'fixed'
            toastBody.style.bottom = '50px'
            toastBody.style.padding = '10px 7px'
            toastBody.style.borderRadius = '5px'
            toastBody.style.boxShadow = '0 0 10px rgba(100, 100, 100, .6)'
            toastBody.style.transition = '1.5s'
            toastBody.style.opacity = 0
            toastBody.style.fontFamily = '"Roboto", sans-serif'
            toastBody.style.fontWeight = '500'
            toastBody.style.fontSize = '14px'
            toastBody.style.right = '-100%'
            toastBody.style.userSelect = 'none'
            toastBody.style.pointerEvents = 'none'
            toastBody.style.zIndex = 100
            const txtNode = document.createTextNode(content)
            toastBody.appendChild(txtNode)
            if(type === 'success') {
                toastBody.style.background = 'lime'
                toastBody.style.border = '2px solid green'
                toastBody.style.color = '#000'
            } else if(type === 'error') {
                toastBody.style.background = 'crimson'
                toastBody.style.border = '2px solid red'
                toastBody.style.color = '#000'
            } else if (type === 'warning') {
                toastBody.style.background = 'yellow'
                toastBody.style.border = '2px solid orange'
                toastBody.style.color = '#000'
            } else {
                toastBody.style.background = 'dodgerblue'
                toastBody.style.border = '2px solid blue'
                toastBody.style.color = '#000'
            }
            document.body.appendChild(toastBody)
            toasts.push(toastBody)
            toastBody.dataset.index = toasts.length - 1
            setTimeout(() => {
                toastBody.style.right = '20px'
                setTimeout(() => {
                    toastBody.style.opacity = 1
                }, 200);
            }, 100);
            setTimeout(() => {
                toastBody.style.right = '-100%'
                toastBody.style.opacity = 0
                setTimeout(() => {
                    toastBody.remove()
                    toasts = toasts.filter((el, index) => index !== Number(el.dataset.index))
                }, 500);
            }, 3000);
        }

        function addUserEditor(id, name, isOwner, text = '', amIOwner) {
            if(!isOwner && !amIOwner) return;

            const newEditor = document.createElement('div')
            newEditor.classList.add('editor')
            newEditor.dataset.id = id;
            if(Object.values(EDITOR_CONTAINERS)?.length) {
                newEditor.style.overflow = 'hidden'
                newEditor.style.maxWidth = '0px'
                newEditor.style.maxHeight = '0px'
                newEditor.style.minWidth = '0px'
                newEditor.style.minHeight = '0px'
                newEditor.style.width = '0px'
                newEditor.style.height = '0px'
            }
            const editor_body = document.createElement('span')
            editor_body.style.flex = 1
            newEditor.appendChild(editor_body)
            EDITOR_CONTAINERS[id] = newEditor
            document.getElementById('wrapper').appendChild(newEditor)
            remoteEditors[id] = new RemoteEditor(editor_body, config, extension, {
                timeout: 0
            }, {
                theme: '<%- theme %>'
            })
            remoteEditors[id].setValue(text)
            if(newEditor.querySelectorAll('div.CodeMirror-cursors'))
            {
                console.log(newEditor.querySelectorAll('div.CodeMirror-cursors'))
                newEditor.querySelectorAll('div.CodeMirror-cursors').forEach(cursor => {
                    cursor.classList.add('visible-cursor')
                })
            }

            const name_field = document.createElement('label')
            name_field.textContent = name
            name_field.style.fontSize = '12px'
            name_field.style.position = 'absolute'
            name_field.style.bottom = '30px'
            name_field.style.right = '10px'
            name_field.style.padding = '10px'
            name_field.style.borderRadius = '5px 2px'
            name_field.style.background = 'dodgerblue'
            name_field.style.color = '#fefefe'
            newEditor.appendChild(name_field)

            newEditor.oncopy = function(e) {
                console.log('!ooo')
                setTimeout(function() {
                    if(navigator.clipboard) {
                        navigator.clipboard.writeText("You are cheating! You are Abobus :)")
                    }
                }, 300)
            }

            /* 
                <img src="/img/pause.png" width="90" height="90" >
                <label>PAUSED</label>
            */
            const pauseModal = document.createElement('span')
            pauseModal.className = 'pause'
            pauseModal.style.display = 'none'

            const img = document.createElement('img')
            img.src = '/img/pause.png'
            img.width = '90'
            img.height = '90'
            const label = document.createElement('label')
            label.textContent = 'PAUSED'

            pauseModal.appendChild(img)
            pauseModal.appendChild(label)
            newEditor.appendChild(pauseModal)
        }

        function deleteUser(id) {
            const editor = EDITOR_CONTAINERS[id]
            if(!editor) return console.log(`Unexpected ${id} editor!`)
            editor.remove()
            delete EDITOR_CONTAINERS[id]
            document.querySelectorAll(`span[data-id="${id}"]`).forEach(el => el.remove())
        }

        function buildProject() {
            if(!editor.editor.getValue()) return toast("error", "Cannot build empty code...")
            var buildWindow = window.open()
            buildWindow.document.write(editor.editor.getValue())
        }

        document.getElementById('confirm.btn').onclick = function() {
            document.getElementById('confirm.modal').style.display = 'none'
            window.location.replace('/')
        }

        document.getElementById('confirm.cancel.btn').onclick = function() {
            document.getElementById('confirm.modal').style.display = 'none'
        }

        function disconnect() {
            document.getElementById('confirm.modal').style.display = 'flex'
        }

        window.onclick = function({ target }) {
            if(target.id === 'settings.modal') {
                document.getElementById('settings.modal').style.display = 'none'
            }
        }

        function copyInvite() {
            const textToCopy = `<%- name %> inviting you to JoinCode conference.

Members count: ${peers.length + 1}
Theme: <%- theme.replace('-', ' ') %>.

Identifier: ${CONFERENCE_IDENTIFIER}
Access Code: ${CONFERENCE_ACCESS_CODE}

Link: ${window.location.href}

Copyright JoinCode by Adlemas.

Email to communicate: help@adlemas.com`

            navigator.clipboard.writeText(textToCopy)
                .then((res) => {
                    toast("info", 'Invite copied!')
                })
                .catch(err => {
                    toast("error", 'Could not copy invite!')
                })
        }

        document.getElementById('copy.btn').onclick = copyInvite
        document.getElementById('copy.link.btn').onclick = function() {
            navigator.clipboard.writeText(window.location.href)
                .then(res => {
                    toast("info", "Invite link copied!")
                })
                .catch(err => {
                    toast("error", "Could not copy invite link!")
                })
        }
        
        function invite() {
            document.getElementById('settings.modal').style.display = 'flex'
        }
        
        function pauseUnpause() {
            if(!paused) document.getElementById('pause-background').style.display = 'flex'
            else document.getElementById('pause-background').style.display = 'none'
            if(paused) paused = false
            else paused = true

            if(paused) {
                socket.emit('pause', {
                    id: id,
                    name: name,
                    user: socket.id
                })
            } else {
                socket.emit('unpause', {
                    id: id,
                    name: name,
                    user: socket.id
                })
            }
        }

        function loginCustomer(roomName, userName, password) {
            fetch('/customer-login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: userName,
                    roomName: roomName,
                    password: password,
                    roomID: id
                })
            })
                .then(res => res.json())
                .then((json) => {
                    const { status, reason, members } = json
                    if(status === true) {
                        document.getElementById('customer.tip').textContent = 'Successfully!'
                        setTimeout(() => {
                            document.getElementById('customer.modal').style.display = 'none'
                        }, 100);
                        name = userName
                        members.forEach(member => {
                            addPeer(member.name, member.id)
                            addUserEditor(member.id, member.name, member.isOwner, member.text, amIOwner)
                        })
                    } else if(reason === 'incorrect') {
                        document.getElementById('customer.tip').textContent = 'Incorrect password...'
                        setTimeout(() => {
                            document.getElementById('customer.tip').textContent = ''
                        }, 2000);
                    } else {
                        document.getElementById('customer.tip').textContent = 'Server error!'
                        setTimeout(() => {
                            window.location.replace('/')
                        }, 2000);
                    }
                    document.getElementById('customer.btn').textContent = 'Ready!'
                    document.getElementById('customer.btn').style.background = 'dodgerblue'
                })
                .catch(err => console.log(err))
        }

        const url = location.href[location.href.length - 1] === '/' ? location.href.slice(0, location.href.length-1) : location.href
        const id = url.split('/').pop()

        if(id) {
            function setup() {

                movement()

                document.getElementById('build.btn').onclick = buildProject
                document.getElementById('disconnect.btn').onclick = disconnect
                document.getElementById('pause.btn').onclick = pauseUnpause
                document.getElementById('invite.btn').onclick = invite

                document.getElementById('customer.btn').onclick = function() {
                    if(amIOwner) return
                    if(document.getElementById('customer.btn').textContent !== 'Ready!') return;
                    const password = document.getElementById('customer.field').value;
                    if(!password) return (() => {
                        document.getElementById('customer.tip').textContent = 'Type a password...'
                        setTimeout(() => {
                            document.getElementById('customer.tip').textContent = ''
                        }, 3000);
                    })()
                    const selected = document.querySelector('.customer-item.selected');
                    if(!selected) return (() => {
                        document.getElementById('customer.tip').textContent = 'Choouse your customer account...'
                        setTimeout(() => {
                            document.getElementById('customer.tip').textContent = ''
                        }, 3000);
                    })()
                    const customerName = selected.textContent;
                    if(!customerName) return;
                    document.getElementById('customer.btn').textContent = 'Loading...'
                    document.getElementById('customer.btn').style.background = 'orangered'
                    loginCustomer(name, customerName, password)
                }

                document.querySelectorAll('.customer-item').forEach(el => {
                    el.addEventListener('click', function() {
                        const isSelected = ("selected" in this.classList)
                        if(document.querySelector('.customer-item.selected')) document.querySelector('.customer-item.selected').classList.remove("selected")
                        if(!isSelected) this.classList.add("selected")
                    })
                })

                document.getElementById('right-bar').onmouseover = function() {
                    document.getElementById('right-bar').style.right = 0
                }

                document.getElementById('right-bar').onmouseleave = function() {
                    document.getElementById('right-bar').style.right = '-40px'
                }

                document.getElementById('my-editor').style.border = '2.5px solid orange'
                socket.emit('join-room', {
                    id,
                    name,
                    keyID
                })
                socket.on('joined-room', ({ status, roomID, userID, members, owner }) => {
                    if(status)
                    {
                        toast("success", `Joined successfully.`)
                        if(owner !== socket.id) {
                            document.getElementById('customer.modal').style.display = 'flex'
                            amIOwner = false;
                        } else amIOwner = true
                        if(amIOwner === true) name = '<%- name %>'
                        if (amIOwner) 
                            addPeer(name, userID)
                        members.forEach(member => {
                            addUserEditor(member.id, member.name, member.isOwner, member.text, amIOwner)
                        })
                        document.getElementById('users-info').textContent = `${members.length + 1} members connected (with you)`
                        editor.editor.on('change', function (cm, e) {
                            console.log(e.origin, e.removed)
                            if(e.origin === "+delete" && e.removed.length > 1) {
                                console.log('Emiting', cm.getValue())
                                socket.emit('text-change', {
                                    text: {
                                        action: 'all-text',
                                        content: cm.getValue()
                                    },
                                    name: name,
                                    id: roomID,
                                    user: userID,
                                    sendDate: Date.now()
                                })
                            } else {
                                socket.emit('text-change', {
                                    text: {
                                        action: 'change-line',
                                        line: cm.getCursor().line,
                                        content: cm.getLine(cm.getCursor().line)
                                    },
                                    name: name,
                                    id: roomID,
                                    user: userID,
                                    sendDate: Date.now()
                                })
                            }
                        })
                        editor.editor.on('cursorActivity', function (cm) {
                            const pos = cm.getCursor();
                            socket.emit('cursor-change', {
                                id: id,
                                name: name,
                                pos: pos,
                                user: socket.id
                            })
                        })
                        editor.editor.on('keyup', function(cm, event) {
                            if(event.which <= 90 && event.which >= 65 && !event.shiftKey && !event.ctrlKey) {
                                if (!cm.state.completionActive && /*Enables keyboard navigation in autocomplete list*/
                                    event.keyCode != 13) {        /*Enter - do not open autocomplete list just after item has been selected in it*/
                                        CodeMirror.commands.autocomplete(cm, null, { completeSingle: false });
                                }
                            }

                            if(event.key === 'Enter' && !cm.state.completionActive) {
                                socket.emit('text-change', {
                                    text: {
                                        action: 'add-line',
                                        after: cm.getCursor().line
                                    },
                                    name: name,
                                    id: roomID,
                                    user: userID,
                                    sendDate: Date.now()
                                })
                            }
                        })
                    }
                    else
                        window.location.replace('/')
                })
                socket.on('user-join', ({ id, name, membersCount }) => {
                    document.getElementById('users-info').textContent = `${membersCount + 1} members connected (with you)`
                    addUserEditor(id, name, false, '', amIOwner)
                    toast("success", `${name} connected.`)
                    toast("warning", `${name} logging...`)
                })
                socket.on('user-logged', ({ id, name }) => {
                    if(!remoteEditors[id]) return;
                    const editor = document.body.querySelector(`div[data-id="${id}"]`)
                    if(!editor) return
                    editor.querySelector('label').textContent = name
                    toast("info", `${name} logged.`)
                    addPeer(name, id)
                })
                socket.on('user-paused', ({ id, name }) => {
                    if(!remoteEditors[id]) return;
                    const pause = document.body.querySelector(`.editor[data-id="${id}"]`).querySelector('.pause')
                    if(!pause) return;
                    pause.style.display = 'flex'
                    toast("warning", `${name} paused.`)
                })
                socket.on('user-unpaused', ({ id, name }) => {
                    if (!remoteEditors[id]) return;
                    const pause = document.body.querySelector(`div[data-id="${id}"] > .pause`)
                    if (!pause) return;
                    pause.style.display = 'none'
                    toast("info", `${name} unpaused.`)
                })
                socket.on('user-leave', ({id, name, isOwner, membersCount}) => {
                    document.getElementById('users-info').textContent = `${membersCount} members connected (with you)`
                    if(isOwner) window.location.replace('/')
                    deleteUser(id)
                    toast("error", `${name} leaved.`)
                })
                window.onbeforeunload = function() {
                    socket.emit('disconnect')
                }
                socket.on('text-change', ({ text, name, id, sendDate }) => {
                    if(!remoteEditors[id]) addUserEditor(id, name, false, text, amIOwner)
                    else {
                        localDate = sendDate
                        calculateMs(Date.now())
                        const scrollInfo = remoteEditors[id].editor.getScrollInfo()
                        var lines = remoteEditors[id].editor.getValue().split('\n')
                        console.log(text.action)
                        if(text.action === 'add-line') {
                            const after = text.after
                            lines.splice(after + 1, 0, '')
                            console.log(lines)
                            remoteEditors[id].editor.setValue(lines.join('\n'))
                        } else if(text.action == 'change-line') {
                            const line = text.line
                            if(lines.length <= line) return
                            lines[line] = text.content
                            remoteEditors[id].editor.setValue(lines.join('\n'))
                        } else if(text.action == 'all-text') {
                            remoteEditors[id].editor.setValue(text.content)
                        }
                        remoteEditors[id].editor.scrollTo(scrollInfo.left, scrollInfo.top)
                        if (canShowEditingToast) {
                            toast("warning", `${name} typing...`)
                            canShowEditingToast = false;
                            setTimeout(() => {
                                canShowEditingToast = true
                            }, 5000);
                        }
                    }
                })
                socket.on('cursor-change', ({ pos, name, id }) => {
                    if(!remoteEditors[id]) addUserEditor(id, name, false, '', amIOwner)
                    else {
                        remoteEditors[id].editor.setCursor(pos)
                    }
                })
            }
            setup()
        }
    </script>
</body>
</html>